.content-row {
	border-radius: 0;
	background-color: #eaefee;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px 10px 10px 10px;
}

.home-inline-list {
	margin-left: 10px;
}

.inline-list img {
	width: 160px;
}

.share-row {
	margin-top: 15px;
}

.share-row .description {
	margin-top: 1rem;
}

p {
	margin-bottom: .5rem;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: .2rem;
}

.time {
	font-style: italic;
	font-size: .7rem;
	color: gray;
}

#map {
	height: 450px;
}